@font-face {
    font-family: 'open';
    src: url('../fonts/OpenSans-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'open';
    src: url('../fonts/OpenSans-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'open';
    src: url('../fonts/OpenSans-Medium.ttf');
    font-weight: 500;
}
@font-face {
    font-family: 'open';
    src: url('../fonts/OpenSans-Regular.ttf');
    font-weight: 400;
}