@import url(font.css);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background: white;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: #596B86;
}

header {
  background: #EAEFF6;
}
@media (max-width: 767px) {
  header nav .nav__content {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  header nav .nav__content img {
    width: 150px;
  }
}
@media (max-width: 767px) {
  header nav .nav__content .nav__list {
    flex-direction: column;
    margin-top: 30px;
  }
}
@media (max-width: 767px) {
  header nav .nav__content .nav__list li {
    margin-top: 20px;
  }
}
header nav .nav__content .nav__link {
  font-size: 18px;
  font-family: "open";
  font-weight: 400;
  margin-left: 40px;
  position: relative;
}
header nav .nav__content .nav__link:hover::after {
  width: 100%;
}
header nav .nav__content .nav__link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -7px;
  height: 4px;
  background: #597193;
  width: 0;
  transition: width 0.3s;
}
@media (max-width: 991px) {
  header nav .nav__content .nav__link {
    font-size: 16px;
    margin-left: 15px;
  }
}
@media (max-width: 767px) {
  header nav .nav__content .nav__link {
    font-size: 25px;
    margin: 0;
  }
}
header nav .nav__content .nav__btn {
  color: white;
  background: #597193;
  width: 135px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 8px;
  transition: 0.4s linear;
}
header nav .nav__content .nav__btn:hover {
  background: #5508db;
  border-radius: 15px;
  transition: 0.4s linear;
}
@media (max-width: 767px) {
  header nav .nav__content .nav__btn {
    font-size: 20px;
    width: 250px;
    height: 60px;
    margin-left: 15px;
    margin-top: 30px;
  }
}
@media (max-width: 599px) {
  header nav .nav__content .nav__btn {
    width: 150px !important;
  }
}

.head {
  background: #EAEFF6;
  position: relative;
  z-index: -1;
  height: 80vh;
}
.head .row {
  height: 80vh;
}
.head .row .col h1 {
  color: #3D4550;
  font-size: 45px;
  font-family: "open";
  font-weight: 600;
}
.head .row .col p {
  opacity: 0.7;
  font-size: 18px;
  font-family: "open";
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 30px;
}
.head .row .col button {
  color: white;
  background: #597193;
  width: 135px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 8px;
}
.head .row .col .head__watch i {
  color: #597193;
  font-size: 40px;
}
.head .row .col .head__watch h4 {
  font-family: "open";
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
}
.head .row .header__box {
  position: relative;
}
.head .row .header__box .header__bg {
  position: absolute;
  z-index: -1;
  top: -280px;
  left: 120px;
  width: 450px;
}
@media (max-width: 1199px) {
  .head .row .header__box .header__bg {
    width: 420px;
    margin-left: -50px;
  }
}
@media (max-width: 991px) {
  .head .row .header__box .header__bg {
    margin-left: -150px;
  }
}
@media (max-width: 768px) {
  .head .row .header__box .header__bg {
    margin-left: -200px;
  }
}
.head .row .header__box .header__img {
  width: 250px;
  position: absolute;
  right: 80px;
  top: -175px;
}
@media (max-width: 768px) {
  .head .row .header__box .header__img {
    margin-right: -100px;
  }
}
@media (max-width: 585px) {
  .head .row .header__box .header__img {
    margin-right: -50px;
  }
}

.market {
  position: absolute;
  left: 800px;
  top: 300px;
  width: 220px;
}

.check__content h1 {
  color: #353637;
  font-size: 45px;
  font-family: "open";
  font-weight: 600;
}
.check__content h5 {
  line-height: 28px;
  opacity: 0.7;
  font-size: 18px;
  font-family: "open";
  font-weight: 400;
}
.check__content .check__info {
  background: #d9dcdb;
  margin-left: -50px;
}
@media (max-width: 991px) {
  .check__content .check__info {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-left: -70px;
  }
}

.block__2 {
  background: white;
  position: absolute;
  right: 90px;
  top: 20px;
  border-radius: 10px;
  width: 115px;
  height: 125px;
}
.block__2 h3 {
  font-size: 18px;
  font-family: "open";
  font-weight: bold;
}
.block__2 h6 {
  color: #565656;
  font-family: "open";
  font-weight: 400;
}

.check__img {
  width: 100%;
  margin-left: -10px;
}
@media (max-width: 460px) {
  .check__img {
    overflow: hidden;
  }
}

.check__button {
  margin-top: 40px;
}

.check__btn {
  width: 300px;
  padding: 4px;
  border: 3px solid #596B86;
  font-family: "open";
  font-weight: 400;
  transition: 0.3s linear;
}

.check__btn:hover {
  background: #596B86;
  border-radius: 10px;
  color: white;
  transition: 0.3s linear;
}

.select {
  padding: 10px;
  width: 300px;
}

.span__price {
  color: #384D6C;
  font-size: 40px;
  font-family: "open";
  font-weight: 400;
}

.room__content h1 {
  font-family: "open";
  font-weight: 400;
  font-size: 45px;
}
.room__content h5 {
  font-family: "open";
  font-weight: 400;
  font-size: 18px;
}
.room__content .romm__1 {
  border-radius: 5px;
  border: 1px solid #353637;
}
.room__content .romm__1 img {
  width: 100%;
}
.room__content .romm__1 h5 {
  font-family: "open";
  font-weight: 400;
}
@media (max-width: 991px) {
  .room__content .romm__1 h5 {
    font-size: 25px;
  }
}
.room__content .romm__1 h4 {
  font-family: "open";
  font-weight: 400;
}
@media (max-width: 991px) {
  .room__content .romm__1 h4 {
    font-size: 30px;
  }
}
.room__content .romm__1 h3 {
  font-family: "open";
  font-weight: 400;
}
@media (max-width: 991px) {
  .room__content .romm__1 h3 {
    font-size: 30px;
  }
}
@media (max-width: 1199px) {
  .room__content .romm__1 {
    width: 400px;
  }
}
@media (max-width: 991px) {
  .room__content .romm__1 {
    width: 500px;
  }
}
@media (max-width: 1199px) {
  .room__content .room__3 {
    margin-top: 50px;
  }
}

@media (max-width: 991px) {
  .col__1 {
    margin-bottom: 50px;
  }
}

@media (max-width: 991px) {
  .col__css {
    display: flex;
    justify-content: center;
  }
}

.facilities__content {
  transition: 0.3s linear;
}
.facilities__content h5 {
  font-family: "open";
  font-weight: 400;
  font-size: 16px;
}
.facilities__content h1 {
  font-family: "open";
  font-weight: 400;
  font-size: 45px;
}
.facilities__content .fac__col {
  border: 2px solid #596B86;
  padding: 20px;
  transition: 0.4s linear;
}
.facilities__content .fac__col h4 {
  font-family: "open";
  font-weight: 400;
  font-size: 25px;
}
.facilities__content .fac__col i {
  color: #596B86;
  font-size: 40px;
}
.facilities__content .fac__col h5 {
  line-height: 25px;
  font-family: "open";
  font-weight: 400;
  font-size: 14px;
  margin-top: 10px;
}
.facilities__content .fac__col:hover {
  background: #3D4550;
  color: white;
  transition: 0.4s linear;
}
.facilities__content .fac__col:hover i {
  color: white;
}

.col__benefits h2 {
  color: #596B86;
  font-size: 45px;
  font-family: "open";
  font-weight: 700;
}
.col__benefits h5 {
  font-size: 15px;
  font-family: "open";
  font-weight: 400;
  margin-top: 5px;
}

.history {
  margin-top: 150px;
  margin-bottom: 150px;
}
.history .row .col h1 {
  color: #353637;
  font-family: "open";
  font-weight: 400;
  font-size: 40px;
}
.history .row .col p {
  line-height: 25px;
  color: #686868;
  font-family: "open";
  font-weight: 400;
  font-size: 16px;
}
.history .row .col .history__btn {
  color: white;
  background: #597193;
  width: 135px;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 8px;
  transition: 0.4s linear;
}
.history .row .col .history__btn:hover {
  background: #5508db;
  border-radius: 15px;
  transition: 0.4s linear;
}
.history .row .col .head__watch i {
  color: #597193;
  font-size: 40px;
}
.history .row .col .head__watch h4 {
  font-family: "open";
  font-weight: 400;
  font-size: 16px;
  margin-left: 10px;
}
.history .row .col img {
  width: 100%;
}

.custom h1 {
  font-family: "open";
  font-weight: 400;
  font-size: 40px;
}
.custom h5 {
  color: #959595;
  font-family: "open";
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

.custom__block {
  height: 380px;
  background: white;
  border: 1px solid black;
  transition: 0.3s linear;
}
.custom__block:hover {
  color: white;
  background: rgba(113, 136, 170, 0.5490196078);
  border: none;
  border-radius: 50px;
  transition: 0.3s linear;
}
.custom__block:hover h3 {
  color: white !important;
}
.custom__block:hover h5 {
  color: white !important;
}
.custom__block:hover p {
  color: white !important;
}
.custom__block .one {
  padding: 10px;
  margin-top: 20px;
}
.custom__block .one img {
  padding-top: 20px;
}
.custom__block .one h3 {
  font-family: "open";
  font-weight: 400;
  font-size: 30px;
  margin-top: 15px;
}
.custom__block .one h5 {
  color: #606772;
  font-family: "open";
  font-weight: 400;
  font-size: 14px;
  margin-top: 0px;
}
.custom__block .one p {
  width: 280px;
  margin-top: 25px;
  color: #606772;
  font-family: "open";
  font-weight: 400;
  font-size: 14px;
}

.hotel_one img {
  width: 100%;
  transition: 0.4s linear;
}

.hotel__1 {
  border: 2px solid #B1BED0;
  border-radius: 8px;
  transition: 0.4s linear;
}

.hotel__title p {
  color: #9B9B9B;
  font-family: "open";
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 1px;
  margin-top: 10px;
}

.mail__content {
  background: #B1BED0;
  width: 1110px;
  height: 420px;
  border-radius: 10px;
}
.mail__content h1 {
  color: #334052;
  font-family: "open";
  font-weight: 400;
  font-size: 45px;
}
.mail__content h4 {
  color: white;
  font-family: "open";
  font-weight: 400;
  font-size: 20px;
  letter-spacing: 3px;
}
.mail__content input {
  width: 354px;
  padding: 10px;
  border-radius: 6px;
  border: none;
  margin-top: 40px;
}

.mail__btn {
  color: white;
  background: #889CB9;
  border-radius: 6px;
  padding: 12px;
  border: none;
  margin-left: -20px;
  transition: 0.3s linear;
}
.mail__btn:hover {
  background: blue;
  transition: 0.3s linear;
}

.footer .row {
  border: 2px solid #7587A0;
  border-radius: 10px;
  padding: 50px;
}
.footer .hotel__footer p {
  color: #A9A9A9;
  font-family: "open";
  font-weight: 400;
  font-size: 16px;
  margin-top: 25px;
}
.footer .footer__info {
  margin-top: 20px;
}
.footer .footer__info i {
  color: #7587A0;
  font-size: 20px;
}
.footer .footer__info h4 {
  color: #7587A0;
  font-family: "open";
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 2%;
}
.footer .logos img {
  width: 20px;
}
.footer .logos p {
  color: #A9A9A9;
  font-family: "open";
  font-weight: 400;
  font-size: 16px;
  margin-top: 10px;
}

@media (max-width: 1199px) {
  .check__img {
    width: 500px;
    height: 450px;
  }
  .check__info {
    height: 450px;
  }
}
@media (max-width: 1065px) {
  .header__img {
    margin-top: -40px;
  }
  .market {
    margin-left: -210px;
  }
}
@media (max-width: 992px) {
  .col h1 {
    font-size: 35px !important;
  }
  .col p {
    font-size: 16px !important;
  }
  .col button {
    color: white;
    background: #597193;
    width: 135px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 8px;
  }
  .col .head__watch i {
    color: #597193;
    font-size: 40px;
  }
  .col .head__watch h4 {
    font-family: "open";
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
  }
  .header__bg {
    width: 400px !important;
    margin-left: -150px;
  }
  .header__img {
    margin-right: -30px;
  }
  .market {
    margin-left: -350px;
  }
  .nav__btn {
    margin-left: 50px;
  }
}
@media (max-width: 992px) and (max-width: 750px) {
  .nav__btn {
    margin-left: -10px;
  }
}
@media (max-width: 991px) {
  .check__img {
    width: 450px;
    height: 400px;
  }
  .check__info {
    height: 350px;
    width: 200px;
    padding: 20px;
  }
  .check__info .select {
    width: 200px;
  }
  .check__info .check__block1 {
    margin-top: 20px;
  }
  .check__info .check__block1 h4 {
    font-family: "open";
    font-weight: 400;
  }
  .check__info .check__block2 h4 {
    font-family: "open";
    font-weight: 400;
  }
  .check__info .check__block3 h4 {
    font-family: "open";
    font-weight: 400;
  }
  .check__info .check__button {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  .check__info .check__btn {
    width: 200px;
  }
}
@media (max-width: 800px) {
  .market {
    margin-left: -400px;
  }
}
@media (max-width: 767px) {
  .nav__link {
    font-size: 16px;
  }
  .check__info {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
  }
  .col h1 {
    font-size: 30px !important;
  }
  .col p {
    font-size: 16px !important;
  }
  .col button {
    color: white;
    background: #597193;
    width: 135px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 8px;
  }
  .col .head__watch i {
    color: #597193;
    font-size: 40px;
  }
  .col .head__watch h4 {
    font-family: "open";
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
  }
  .header__img {
    margin-right: -150px;
  }
  .market {
    width: 200px;
  }
}
@media (max-width: 725px) {
  .header__bg {
    width: 330px !important;
    margin-right: 50px;
  }
  .check__content h1 {
    font-size: 30px !important;
  }
  .check__content h5 {
    font-size: 16px !important;
  }
}
@media (max-width: 680px) {
  .header__bg {
    display: none;
  }
  .header__img {
    margin-right: -90px;
  }
  .col h1 {
    font-size: 30px !important;
  }
  .col p {
    font-size: 14px !important;
  }
  .col button {
    color: white;
    background: #597193;
    width: 135px;
    height: 40px;
    border-radius: 5px;
    border: none;
    padding: 8px;
  }
  .col .head__watch i {
    color: #597193;
    font-size: 40px;
  }
  .col .head__watch h4 {
    font-family: "open";
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
  }
}
@media (max-width: 600px) {
  .market {
    display: none;
  }
}
@media (max-width: 555px) {
  .logo {
    width: 90px;
  }
  .col h1 {
    font-size: 22px !important;
  }
  .col p {
    font-size: 14px !important;
  }
  .col button {
    color: white;
    background: #597193;
    width: 120px !important;
    height: 40px !important;
    border-radius: 5px;
    border: none;
    padding: 8px;
  }
  .col .head__watch i {
    color: #597193;
    font-size: 30px !important;
  }
  .col .head__watch h4 {
    font-family: "open";
    font-weight: 400;
    font-size: 16px;
    margin-left: 10px;
  }
  .header__img {
    width: 230px !important;
    margin-top: 2px;
  }
  .nav__list {
    flex-direction: column;
  }
}
@media (max-width: 513px) {
  .header__img {
    z-index: -1;
    margin-left: -50px;
  }
}
@media (max-width: 347px) {
  .logo {
    display: none;
  }
  .nav__link {
    position: absolute;
    left: 40px;
    font-size: 16px !important;
  }
  .nav__btn {
    position: absolute;
    top: -50px;
    width: 100px;
    height: 50px;
  }
}/*# sourceMappingURL=style.css.map */